[tool.poetry]
name = "backend"
version = "0.1.0"
description = "Backend for Python Discord Forms"
authors = ["Joe Banks <joseph@josephbanks.me>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
starlette = "^0.14.2"
nested_dict = "^1.61"
uvicorn = {extras = ["standard"], version = "^0.13.4"}
motor = "^2.3.1"
python-dotenv = "^0.15.0"
pyjwt = "^2.0.1"
httpx = "^0.17.0"
gunicorn = "^20.0.4"
pydantic = "^1.8.1"
spectree = "^0.4.0"
deepmerge = "^0.1.1"
sentry-sdk = "^0.20.3"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
flake8-annotations = "^2.6.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
